body{
    margin:0%;
    padding: 0%;
    border: 0%;
    background-image: url(https://global-uploads.webflow.com/5b5694df76451f74367f58e3/607ed142f9c5620a1e958e80_CIMENTO-QUEIMADO-NA-PAREDE.jpeg);
}label{
    color: black;
    font-size: 30px;
    font-family: sans-serif;
    margin-top: 60px;
    margin-bottom: 60px;
    padding:10px;
    text-align: center;
    background-color: rgba(0, 255, 255, 0.281);
    border-radius: 10px;
}